body{ background-color:#f8f8f8;}
.subm {
	width:100%;
	height:390px;
    background-image: url(image/Capture01.jpg);
    background-repeat: no-repeat fixed center bottom;
	margin:-22px 0 0 0;
	padding:50px 0 50px 0;
	}
	
	
	.subm h2{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:38px;
	color:#fff;
	font-weight:normal;
	margin:0 0 20px 0;
	}
	
	.proimg{
		border:1px solid #4e81be;
		border-radius:3px;
	}
	
h2.env{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:white;
	font-weight:normal;
	
	}
.arrow{
	margin: 70px 0 32px 0 ;
}	
	.subm p.ennv{
		font-size:18px; color:white;
	}
	
.subm p{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#fff;
	font-weight:normal;
	margin:0 0 30px 0;
	}
.subm .button{
	
	display:table;
	width:auto;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 auto;
	text-align:center;
	letter-spacing:1px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
	.subm .button:hover
	{
	background:#fff;
	color:#0ab8c2;
	}
	.subm .button1{
	
	display:table;
	width:auto;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 auto;
	text-align:center;
	letter-spacing:1px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#138107;
	text-decoration:none;
	font-weight:normal;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
	.subm .button1:hover
	{
	background:#fff;
	color:#0ab8c2;
	}
	
	.subm .breakline {	
	width:920px;
	height:2px;
	background:#FFD700;
	border-bottom:1px solid #FFD700;
	margin:0 0 40px 200px ;
	clear:both;
	}
	.subm .saveline{	
	width:750px;
	height:1px;
	background:#FFD700;
	border-bottom:1px solid #FFD700;
	margin:0 0 30px 300px ;
	clear:both;
	}
	.subm .helpline{	
	width:330px;
	height:1px;
	background:#FFD700;
	border-bottom:1px solid #FFD700;
	margin:0 0 30px 500px ;
	clear:both;
	}
	
	.subm .envline{	
	width:330px;
	height:1px;
	background:#FFD700;
	border-bottom:1px solid #FFD700;
	clear:both;
    margin:0 0 20px 510px;
	}
	
	.subm .sourceline{	
	width:750px;
	height:1px;
	background:#FFD700;
	border-bottom:1px solid #FFD700;
	margin:0 0 30px 300px ;
	clear:both;
	}
  .subm .dbutton 
	{
	position:static-top;
	width:auto;
	height:auto;
	right:0;
	left:0;
	bottom:-190px;
	margin:auto auto auto auto;
	z-index:1;
	cursor:pointer;
	transition:0.5s; -webkit-transition:0.5s;
	}	
	  .subm .dbuttont 
	{
	position:static-top;
	width:auto;
	height:auto;
	right:0;
	left:0;
	bottom:-190px;
	margin:45px 0 0 607px;
	z-index:1;
	cursor:pointer;
	transition:0.5s; -webkit-transition:0.5s;
	}	

	
	 .subm .dbuttonp
	{
	position:static-top;
	width:auto;
	height:auto;
	right:0;
	left:0;
	bottom:-190px;
	margin:29px 0 0 0;
	z-index:1;
	cursor:pointer;
	transition:0.5s; -webkit-transition:0.5s;
	}	
	 .subm .dbuttone
	{
	position:static-top;
	width:auto;
	height:auto;
	right:0;
	left:0;
	bottom:-190px;
	margin:24px 0 0 0;
	z-index:1;
	cursor:pointer;
	transition:0.5s; -webkit-transition:0.5s;
	}	
	.subm .dbuttonca
	{
	position:static-top;
	width:auto;
	height:auto;
	right:0;
	left:0;
	bottom:-190px;
	margin:29px 0 0 0;
	z-index:1;
	cursor:pointer;
	transition:0.5s; -webkit-transition:0.5s;
	}	
	
footer{
	float:left;
	background-color:#f8f8f8;
	width:100%;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	}
	
	.cta {
	float:left;
	height:100%;
	width:100%;
    background-color:#f8f8f8;"	
	margin:0 0 0 0;
	padding:50px 0 50px 0;
	}
	
	
footer .copright{
	float:left;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#000;
	font-weight:normal;
	margin:0 0 40px 100px ;
	}	
	.topbutton{
	position:fixed;
	right:20px;
	bottom:20px;
	width:36px;
	height:36px;
	background: #034c68;
	border-radius:4px; -webkit-border-radius:4px;
	text-align:center;
	line-height:36px;
	font-size:22px;
	color:#fff;
	text-decoration:none;
	z-index:9;
	cursor:pointer
	}
a .logo{
 border-radius:20px; width:200px; height:105px;
 margin: 0 0 0 -10px; " 
}	
header{
	position:fixed;
	right:0;
	left:0;
	
	}
	.down {
		height:128px;
		background-color:#f8f8f8;
	}
header .topbutton span{
	color:#fff;
	line-height:33px;
	}
	
header .topbutton:hover{
	background:#ff8a01;
	}
	.panel-body {
  padding: 15px;
}
.zom_img{ 
margin:50px;
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}

 .zoom_img img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}

.zoom_img .group {
float: right;margin: 0px 0px 15px 20px; width:210px; height:140px; border:1px solid  #458B00; border-radius:1px;}

.subtite { color:blue;
		font-size:25px;
		font-weight:normal;
		font-family: 'Open Sans', sans-serif;
		margin: 20px 0 20px 0 ;
		}
		
.cta .details {
	float:left;
	width:100%;
	margin:0 0 0 0;
	}	
	.cta .details h4.tp{
	background-color:white;
	color:#2d70a9;
	font-size:18px; 
	font-weight:bold;
	display:table;
	width:200px;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 auto;
	text-align:center;
	letter-spacing:1px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-decoration:none;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
		.cta .details h4.tp1{
	background-color:white;
	color:#2d70a9;
	font-size:18px; 
	font-weight:bold;
	display:table;
	width:850px;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 auto;
	text-align:center;
	letter-spacing:1px;
font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-decoration:none;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
	
	h4.hd {
	background-color:white;
	color:#2d70a9;
	font-size:18px; 
	font-weight:bold;
	display:table;
	width:400px;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 auto;
	text-align:center;
	letter-spacing:1px;
font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-decoration:none;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
	h4.he {
	background-color:white;
	color:#2d70a9;
	font-size:18px; 
	font-weight:bold;
	display:table;
	width:400px;
	height:45px;
	line-height:45px;
	border:2px solid #fff;
	padding:0 20px 0 20px;
	margin:0 auto 0 0;
	text-align:center;
	letter-spacing:1px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-decoration:none;
	transition:0.5s; -webkit-transition:0.5s;
	text-transform:uppercase;
	border-radius:2px; -webkit-border-radius:2px; 
	}
	
	

.cta .details p{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#4b4949;
	font-weight:normal;
	margin:0 0 40px 0;
	}
.ctie {
	color:blue;
		font-size:25px;
		font-weight:normal;
		font-family: 'Open Sans', sans-serif;
	    margin:122px 0 30px 0;}	
	 
	
	.details p.ti	{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#4b4949;
	font-weight:normal;
	margin:0 0 30px 0;
	}
.details p.tit	{
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:#4b4949;
	font-weight:normal;
	margin:0 0 30px 0;
	}
	
 .details p.tim	{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:black;
	font-weight:bold;
	margin:0 0 0 0;
	}
	 .cta .details p.tik	{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	color:#4b4949;
	margin:0 0 0 0;
	}
	.cta .details p.tik1	{
	font-family: 'Open Sans', sans-serif;
	font-size:21px;
	color:red;
	
	margin:0 0 0 0;
	}
	.lic {color:black;}
	li{color:blue;}
	.boxsi{
		width:320px;
	}
	.boxsi1{
		width:700px;
		margin:60px 60px 60px 15px;
	}
	
	.boxsi2{
		margin:0 0 0 15px;
	}
.cta .breakline{
	float:left;
	width:100%;
	height:1px;
	background:white;
	border-bottom:2px solid #f7fa18;
	margin:30px 0 30px 0;
	clear:both;
	}
	
	.cta .inline1{
	margin:0 0 0 0;
	width:360px;
	height:1px;
	border-bottom:2px solid #f7fa18;
	clear:both;
	}
	
	a .flag
	{width:40px; height:25px;
 margin: 10px 0 10px 60px; 
 }

 select .box{
 margin: 0 0 10px 10px;
 }
  .luc{ color:#1914f7;}